header {
    background-color: salmon;
    width: 100%;
    height: 200px;
    
}

h1 {
}

.main-top-section {
    width: 100%;
    height: 600px;
    background-color: #daf7d3;
}

.main-bottom-section {
    width: 100%;
    height: 600px;
    background-color: #b0b5e9;
}